# Database Connection
DATABASE_URL="mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/<DATABASE>?retryWrites=true&w=majority&appName=<CLUSTER_NAME>"

# Admin Authentication
ADMIN_KEY="sua-senha-admin"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"


